[groupofjustcreatedvm]
{% for item in groups['groupofjustcreatedvm']  %}
{{ item }}  ansible_ssh_host={{ hostvars[item]['ansible_ssh_host'] }} 
{% endfor %}


[rpserver]
hostname={{reverseproxyservername}} ansible_ssh_host={{reverseproxyserverip}}     ansible_ssh_port={{reverseproxyserversshport}}
           
[groupofrpserver:children]
rpserver
