#!/usr/bin/env bash
function update_host {
  IP=$1
  SERVER=$2

line=$(grep "^${IP}\b" hosts)
#echo "found a line in hosts file with internet IP: $line"
if !   grep  "\b\s${SERVER}\b" <<<$line; then
line1="$line $SERVER"
#echo "Appended new app server to be proxied in that line: $line1"
#echo "deleting the existing line in the host file "
sed -i "/^${IP}\b/d" hosts
#echo "deleted existing line"
echo $line1 |tee -a hosts
echo "Virtual site  name added in the host file   "
fi
}

update_host {{rp_internet_address}}  {{rpvirtualhostnamewebsite}}
