## Load the required modules.
#LoadModule proxy_http_module modules/mod_proxy_http.so
#LoadModule proxy_connect_module modules/mod_proxy_connect.so
Listen 80
Listen 443
<VirtualHost {{ rp_virtual_hostname_website }}:80>

        ServerName {{ rp_virtual_hostname_website }}
        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/html
        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
    ProxyRequests Off
        ProxyPass /       http://{{ rp_pointer_name_to_vm }}/  connectiontimeout=5 timeout=300
        ProxyPassReverse /  http://{{ rp_pointer_name_to_vm }}/
</VirtualHost>

<VirtualHost {{ rp_virtual_hostname_website }}:443>

        ServerName {{ rp_virtual_hostname_website }}
        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/html
        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
SSLEngine On
  SSLCertificateFile /etc/apache2/ssl/cacert.pem
  SSLCertificateKeyFile /etc/apache2/ssl/privkey.pem
    ProxyRequests Off
        ProxyPass /       http://{{ rp_pointer_name_to_vm }}/  connectiontimeout=5 timeout=300
        ProxyPassReverse /  http://{{ rp_pointer_name_to_vm }}/
</VirtualHost>

